.first{
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
     align-items: center;
     justify-content: center;
     color:wheat;
}
 
.para{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(236, 188, 234, 0.685);
    cursor: pointer;
}

.container{
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(3, 3, 1, 0.534)url(file:///C:/Users/palash/Desktop/html/.vscode/img/img11.jpg);
    height: 130vh;
    overflow-x: hidden;
    background-blend-mode: darken;
    background-size: cover;
    
}

.me{
    padding: 5px;
    font-size: 20px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
      
}

.col{
    position: relative;
    padding: 10px;
    padding-left: 184px;
    padding-right: 180px;
    color: black;
    font-size: 18px;
    background-color: rgba(188, 143, 143, 0.342);
    border-radius: 30px;
    border:none;
    
}

.col:hover{
    background-color: rgba(194, 141, 187, 0.411);
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: rgba(77, 7, 71, 0.507);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 115vh;
    left: 40%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.btn{
    padding: 11px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    color: black;
    background-color: rgba(188, 143, 143, 0.342);;
    border-radius: 30px;
    border: none;
}

.btn:hover{
    color: white;
    background-color: rgba(209, 183, 183, 0.575);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
  

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.head1{
    padding: 20px;
    padding-top: 8%;
    padding-bottom: 3%; 
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family: cursive;

}

.para1{
    padding-bottom: 20px;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-family: cursive;
}

.btn_a{
    text-decoration: none;
    color: white;
}

.hr_twin{
    padding: 2px;
}

.btn_b{
    padding: 11px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    color: black;
    background-color: rgba(188, 143, 143, 0.342);
    border-radius: 30px;
    border: none;
}

.btn_b:hover{
    color: white;
    background-color: rgba(188, 143, 143, 0.575);
    cursor: pointer;
}
